 /*.............................
             font links 
  ............................. */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

 /*.............................
            Common-style 
  ...............................*/
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }

 body {
     background: #f3f1ff;
 }

 /*.................................
             header area start
 ..................................*/
 .header {
     background: #562EFF;
     height: 94px;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 nav {
     height: 94px;
     width: 870px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 nav img {
     width: 40.42px;
     height: 51px;
 }

 nav ul {
     height: 94px;
     /* background-color: red; */
     display: flex;
     align-items: center;
     gap: 36px;

 }

 nav ul li {
     list-style: none;
 }

 nav ul li a {
     font-size: 16px;
     line-height: 24px;
     color: #FFFFFF;
     text-decoration: none;
 }

 nav ul li img {
     width: 51px;
     height: 51px;
 }

 /*.................................
             header area end
 ..................................*/


 /*.................................
              main section start
 ..................................*/
 main {
     margin-top: 36px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 31px;
 }

 .top-players-blogs {
     background: #FFFFFF;
     border-radius: 5px;
     width: 870px;
     height: 679px;
     /* background-color: aqua; */
     /* display: flex; */
     flex-direction: column;
     /* align-items: center; */
 }

 hr {
     border: 1px solid #D1D1D1;
     width: 807px;
     margin: 0 auto;

 }

 /*.................................
              main section end
 ..................................*/


 /*.................................
  top player and blog section start
 ..................................*/
 .top-players {
     width: 100%;
     /* background: red; */
     padding: 33px;
 }

 .section-title {
     color: #562EFF;
     font-size: 24px;
     line-height: 36px;
     margin-bottom: 30px;
 }

 .players {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-row-gap: 29px;
     grid-column-gap: 20px;
 }

 .player {
     display: flex;
     align-items: center;
     /* background: yellow; */
     gap: 16px;
 }

 .player img {
     width: 56px;
     height: 56px;
 }

 .player-name {
     font-size: 18px;
     line-height: 27px;
     color: #000000;
 }

 /*.................................
  top player end 
 ..................................*/


 /*.................................
             blog section start
 ..................................*/

 .top-blogs {
     /* background-color: red; */
     padding: 30px;
 }

 .blogs {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-row-gap: 26px;
     grid-column-gap: 29px;
 }

 .blog {
     display: flex;
     gap: 16px;
 }

 .blog img {
     width: 224px;
     height: 127px;
 }

 .blog-title {
     font-weight: 500;
     font-size: 20px;
     color: #000000;
     /* width: 100%; */
 }

 .blog-writer {
     font-size: 16px;
     line-height: 24px;
     color: #9F9F9F;
 }

 .blog-items a {
     font-size: 16px;
     line-height: 24px;
     color: #562EFF;
     text-decoration: none;
 }

 /*.................................
             blog section end
 ..................................*/
 .courses-section {}

 .couerse {
     width: 870px;
     height: 362px;
     background: #FFFFFF;
     border-radius: 5px;
     margin-bottom: 28px;
     padding: 30px;
 }

 .couerse-container {
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 20px;
 }

 .courses-box {}

 .c-image {
     width: 224px;
     height: 104px;
 }

 .coourses-info {}

 .courses-title {
     font-weight: 500;
     font-size: 20.0336px;
     line-height: 23px;
     color: #1E1E1E;
 }

 .t-tt {
     font-size: 14px;
 }

 .course-teacher {
     font-weight: 400;
     font-size: 14.6913px;
     line-height: 17px;
     color: #ED6B4F;

 }

 .course-view {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     gap: 30px;
 }

 .rating {
     display: flex;
     align-items: center;
     gap: 2px;
 }

 .rating span {
     font-size: 13px;
 }

 .fa-solid {
     color: #FFC014;
 }

 .fa-star {
     font-size: 13px;
 }

 .total-time {
     background: #FFE4E8;
     color: #FF4A60;
     display: flex;
     align-items: center;
     width: 94.83px;
     height: 30px;
     padding: 5px;
     border-radius: 14.6913px;
     justify-content: center;


 }

 .total-time span {
     font-size: 13.6913px;
 }

 /* responsiveness code start  */
 @media screen and (max-width:576px) {
    body{
        width:100%;
    }
     nav {
         width: 100%;
         padding: 10px
     }

     .top-players-blogs {
         width: 100%;
         height: fit-content;
     }

     .players {
         grid-template-columns: repeat(2, 1fr);
     }

     .player-name {}
     .blogs{
        grid-template-columns: repeat(1, 1fr);
     }
     hr{
        width: 100%;
     }
      .couerse{
        width: 100%;
        height: fit-content;
      }
      .couerse-container {
        grid-template-columns: repeat(1,1fr);
        
    }
    /* .courses-box{
        margin: 0 auto;
    } */
    .courses-title{
        width: 70%;
    }
 } 
 /* tab  */
@media screen and (min-width:577px) and (max-width:992px){
    body{
        width:100%;
    }
     nav {
         width: 100%;
         padding: 30px
     }

     .top-players-blogs {
         width: 100%;
         height: fit-content;
     }

     .players {
         grid-template-columns: repeat(2, 1fr);
     }

     .player-name {}
     .blogs{
        grid-template-columns: repeat(2, 1fr);
     }
     hr{
        width: 100%;
     }
      .couerse{
        width: 100%;
        height: fit-content;
      }
      .couerse-container {
        grid-template-columns: repeat(2,1fr);
        
    }
    /* .courses-box{
        margin: 0 auto;
    } */
    .courses-title{
        width: 70%;
    }
    
}